<section class="section">
  <div class="container">
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <p>Posted by {{user.name}} on {{date_posted}}</p>
    <div>
      &#128077; {{blog.likes}}
      <div class="control">
        <textarea class="textarea" placeholder="Talk about your finding" id="blogContent"></textarea>
        <button class="button" id="addLike">Like this post!</button>
        <button class="button" id="Add comment">Add a Comment</button>
      </div>
    </div>
  </div>