<section class="section">
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <p>Posted by {{user.name}} on {{date_created}}</p>
    <div>
      &#128077; {{likes}}
      <div class="control">
        <textarea class="textarea" placeholder="What would you like to say?" id="commentField"></textarea>
        <button class="button" id="addLike" data-id="{{id}}">Like this post!</button>
        <button class="button" id="addComment" data-id="{{id}}">Add Comment</button>
      </div>
    </div>
  </div>
</section>

<div>
  {{#if comments.length}}
  {{#each comments as |comment|}}
  <div>
    <p>{{content}}</p><br>
    <p>Comment Made: {{date_posted}}</p>
    <br>
    <p>By: {{user.name}}</p>
    {{/each}}
    {{else}}
    <h1>No comments yet, be the first!</h1>
    {{/if}}
    
  </div>
</div>

<script src="/js/feedback.js"></script>