  <section class="section">
    <div class="container">
      <h1 class="title">Blog Posts</h1>
      
      {{#each blogs}}
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{authorAvatar}}" alt="{{author}}'s avatar">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{title}}</strong> by <em>{{author}}</em> <small>{{date}}</small>
                <br>
                {{content}}
              </p>
            </div>
            {{#if comments}}
              <div class="box">
                <h3 class="subtitle">Comments</h3>
                {{#each comments}}
                  <article class="media">
                    <figure class="media-left">
                      <p class="image is-48x48">
                        <img src="{{commenterAvatar}}" alt="{{commenter}}'s avatar">
                      </p>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{commenter}}</strong> <small>{{commentDate}}</small>
                          <br>
                          {{commentText}}
                        </p>
                      </div>
                    </div>
                  </article>
                {{/each}}
              </div>
            {{/if}}
          </div>
        </article>
        <hr>
      {{/each}}
      
    </div>
  </section>
